// Variables
// !important: this file should not output CSS when compiled

$white: #fff;
$black: #000;

$grey: grey;
$grey-100: #2f3437;
$grey-200: #202426;

$cyan-light: rgba(174, 252, 251, 1);
$cyan: rgba(134, 252, 231, 1); // #86fce7;

$green: green;
$purple: purple;

$font-color: $white;

$box-shadow-cyan: 0px 0px 12px 0px $cyan;
