// Variables
// !important: this file should not output CSS when compiled

$white: #fff;
$black: #000;

$primary: rgba(163, 249, 231, 1);
$secondary: rgba(18, 20, 21, 1);

$grey: grey;
$grey-100: #2f3437;
$grey-200: #202426;

$cyan: rgba(163, 249, 231, 1);
$cyan-dark: rgba(148, 234, 216, 1); // -15 offset

$green: green;
$purple: purple;

$font-color: $white;

$box-shadow-cyan: 0px 0px 12px 0px $cyan;
